body {
    font-family: Arial, sans-serif;
} 

.ctn {
    background-color: antiquewhite;
    max-width: 400px;
    margin: auto;
    padding: 0 16px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.gambar img {
    width: 46px;
    height: 46px;
    margin-top: 14px;
    margin-left: 5px;
    margin-right: 5px;
}

.isinavbar {
    width: 100%;
    height: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
}
.isinavbar a {
    color: black;
    margin-right: 8px;
    font-size: 24px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

.isinavbar a:hover {
    color: purple;
}

.atas {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin-top: 10px;
}

.toko p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.search {
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
    font-size: 12px;
    padding: 4px 25px;
    margin-right: 10px;
    margin-left: -4px
}

.search-btn {
    padding: 3px 6px;
    border: none;
    background-color: #9632cf;
    color: rgb(8, 8, 8);
    border-radius: 9px;
    font-size: 12px; 
    margin-right: 5px;  
    margin-left: -25px;
}

.search-btn:hover {
    background-color: #2c2ea0;
    color: white;
}

.keranjang img{
    width: 17px;
    margin-left: -2px;
    position: relative;    
} 

#cart-count {
    position: absolute;
    top: 5px;
    right: 5px;
    color: red;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 4px;
}

.nomor {
    margin-right: 472px;
    margin-top: 80px;
}

.h1 {
    display: flex;
    justify-content: center;
    font-size: 17px;
    margin-top: -6px;
}
.mie {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 15px;
}
.satu {
    border: 1px solid grey;
    width: 180px;
    height: 190px;
}
.satu img {
    width: 170px;
    height: 95px;
    padding: 4px 4px;
}
.satu p {
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: -2px;
    margin-bottom: 5px;
}
.bawah {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bawah p {
    font-size: 14px;
    margin-top: 8px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.bawah button {
    width: 65px;
    height: 25px;
    border-radius: 15px;
    font-size: 13px;
    margin: 10px 1px;
    margin-top: 30px;
    margin-right: 5px;
    background-color: #9632cf;
    border: none;
}
.bawah button:hover{ 
    color: white;
    background-color: #2c2ea0;
}
.dua {
    border: 1px solid grey;
    width: 180px;
    height: 190px;
}
.dua img {
    width: 170px;
    height: 95px;
    padding: 4px 4px;
}
.dua p {
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: -2px;
    margin-bottom: 5px;
}
.bawah2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bawah2 p {
    font-size: 14px;
    margin-top: 8px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.bawah2 button {
    width: 65px;
    height: 25px;
    border-radius: 15px;
    font-size: 13px;
    margin: 10px 1px;
    margin-top: 30px;
    margin-right: 5px;
    background-color: #9632cf;
    border: none;
}
.bawah2 button:hover{ 
    color: white;
    background-color: #2c2ea0;
}
.mie2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 15px;
    margin-top: 15px;
}
.tiga {
    border: 1px solid grey;
    width: 180px;
    height: 190px;
}
.tiga img {
    width: 170px;
    height: 95px;
    padding: 4px 4px;
}
.tiga p {
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: -2px;
    margin-bottom: 5px;
}
.bawah3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bawah3 p {
    font-size: 14px;
    margin-top: 8px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.bawah3 button {
    width: 65px;
    height: 25px;
    border-radius: 15px;
    font-size: 13px;
    margin: 10px 1px;
    margin-top: 30px;
    margin-right: 5px;
    background-color: #9632cf;
    border: none;
}
.bawah3 button:hover{ 
    color: white;
    background-color: #2c2ea0;
}
.empat {
    border: 1px solid grey;
    width: 180px;
    height: 190px;
}
.empat img {
    width: 170px;
    height: 95px;
    padding: 4px 4px;
}
.empat p {
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: -2px;
    margin-bottom: 5px;
}
.bawah4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bawah4 p {
    font-size: 14px;
    margin-top: 8px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.bawah4 button {
    width: 65px;
    height: 25px;
    border-radius: 15px;
    font-size: 13px;
    margin: 10px 1px;
    margin-top: 30px;
    margin-right: 5px;
    background-color: #9632cf;
    border: none;
}
.bawah4 button:hover{ 
    color: white;
    background-color: #2c2ea0;
}
.h2 {
    display: flex;
    justify-content: center;
    font-size: 17px;

}
.camilan1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 15px;
}
.pertama {
    border: 1px solid grey;
    width: 180px;
    height: 190px;
}
.pertama img {
    width: 170px;
    height: 95px;
    padding: 4px 4px;
}
.pertama p {
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: -2px;
    margin-bottom: 5px;
}
.bawah11 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bawah11 p {
    font-size: 14px;
    margin-top: 8px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.bawah11 button {
    width: 65px;
    height: 25px;
    border-radius: 15px;
    font-size: 13px;
    margin: 10px 1px;
    margin-top: 30px;
    margin-right: 5px;
    background-color: #9632cf;
    border: none;
}
.bawah11 button:hover{ 
    color: white;
    background-color: #2c2ea0;
}
.kedua {
    border: 1px solid grey;
    width: 180px;
    height: 190px;
}
.kedua img {
    width: 170px;
    height: 95px;
    padding: 4px 4px;
}
.kedua p {
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: -2px;
    margin-bottom: 5px;
}
.bawah22 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bawah22 p {
    font-size: 14px;
    margin-top: 8px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.bawah22 button {
    width: 65px;
    height: 25px;
    border-radius: 15px;
    font-size: 13px;
    margin: 10px 1px;
    margin-top: 30px;
    margin-right: 5px;
    background-color: #9632cf;
    border: none;
}
.bawah22 button:hover{ 
    color: white;
    background-color: #2c2ea0;
}
.camilan2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 15px;
    margin-top: 15px;
}
.ketiga {
    border: 1px solid grey;
    width: 180px;
    height: 190px;
}
.ketiga img {
    width: 170px;
    height: 95px;
    padding: 4px 4px;
}
.ketiga p {
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: -2px;
    margin-bottom: 5px;
}
.bawah33 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bawah33 p {
    font-size: 14px;
    margin-top: 8px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.bawah33 button {
    width: 65px;
    height: 25px;
    border-radius: 15px;
    font-size: 13px;
    margin: 10px 1px;
    margin-top: 30px;
    margin-right: 5px;
    background-color: #9632cf;
    border: none;
}
.bawah33 button:hover{ 
    color: white;
    background-color: #2c2ea0;
}
.keempat {
    border: 1px solid grey;
    width: 180px;
    height: 190px;
}
.keempat img {
    width: 170px;
    padding: 4px 4px;
}
.keempat p {
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: -2px;
    margin-bottom: 5px;
}
.bawah44 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bawah44 p {
    font-size: 14px;
    margin-top: 8px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.bawah44 button {
    width: 65px;
    height: 25px;
    border-radius: 15px;
    font-size: 13px;
    margin: 10px 1px;
    margin-top: 30px;
    margin-right: 5px;
    background-color: #9632cf;
    border: none;
}
.bawah44 button:hover{ 
    color: white;
    background-color: #2c2ea0;
}
.camilan3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 15px;
    margin-top: 15px;
}
.kelima {
    border: 1px solid grey;
    width: 180px;
    height: 190px;
}
.kelima img {
    width: 170px;
    height: 95px;
    padding: 4px 4px;
}
.kelima p {
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: -2px;
    margin-bottom: 5px;
}
.bawah5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bawah5 p {
    font-size: 14px;
    margin-top: 8px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.bawah5 button {
    width: 65px;
    height: 25px;
    border-radius: 15px;
    font-size: 13px;
    margin: 10px 1px;
    margin-top: 30px;
    margin-right: 5px;
    background-color: #9632cf;
    border: none;
}
.bawah5 button:hover{ 
    color: white;
    background-color: #2c2ea0;
}
.keenam {
    border: 1px solid grey;
    width: 180px;
    height: 190px;
}
.keenam img {
    width: 170px;
    height: 95px;
    padding: 4px 4px;
}
.keenam p {
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: -2px;
    margin-bottom: 5px;
}
.bawah6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bawah6 p {
    font-size: 14px;
    margin-top: 8px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.bawah6 button {
    width: 65px;
    height: 25px;
    border-radius: 15px;
    font-size: 13px;
    margin: 10px 1px;
    margin-top: 30px;
    margin-right: 5px;
    background-color: #9632cf;
    border: none;
}
.bawah6 button:hover{ 
    color: white;
    background-color: #2c2ea0;
}
.camilan4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 15px;
    margin-top: 15px;
}
.ketujuh {
    border: 1px solid grey;
    width: 180px;
    height: 190px;
}
.ketujuh img {
    width: 170px;
    height: 95px;
    padding: 4px 4px;
}
.ketujuh p {
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: -2px;
    margin-bottom: 5px;
}
.bawah7 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bawah7 p {
    font-size: 14px;
    margin-top: 8px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.bawah7 button {
    width: 65px;
    height: 25px;
    border-radius: 15px;
    font-size: 13px;
    margin: 10px 1px;
    margin-top: 30px;
    margin-right: 5px;
    background-color: #9632cf;
    border: none;
}
.bawah7 button:hover{ 
    color: white;
    background-color: #2c2ea0;
}
.h3 {
    display: flex;
    justify-content: center;
    font-size: 17px;
}
.minuman1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 15px;
}
.one {
    border: 1px solid grey;
    width: 180px;
    height: 190px;
}
.one img {
    width: 170px;
    height: 95px;
    padding: 4px 4px;
}
.one p {
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: -2px;
    margin-bottom: 5px;
}
.bawahh1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bawahh1 p {
    font-size: 14px;
    margin-top: 8px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.bawahh1 button {
    width: 65px;
    height: 25px;
    border-radius: 15px;
    font-size: 13px;
    margin: 10px 1px;
    margin-top: 30px;
    margin-right: 5px;
    background-color: #9632cf;
    border: none;
}
.bawahh1 button:hover{ 
    color: white;
    background-color: #2c2ea0;
}
.two {
    border: 1px solid grey;
    width: 180px;
    height: 190px;
}
.two img {
    width: 170px;
    height: 95px;
    padding: 4px 4px;
}
.two p {
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: -2px;
    margin-bottom: 5px;
}
.bawahh2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bawahh2 p {
    font-size: 14px;
    margin-top: 8px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.bawahh2 button {
    width: 65px;
    height: 25px;
    border-radius: 15px;
    font-size: 13px;
    margin: 10px 1px;
    margin-top: 30px;
    margin-right: 5px;
    background-color: #9632cf;
    border: none;
}
.bawahh2 button:hover{ 
    color: white;
    background-color: #2c2ea0;
}
.minuman2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 15px;
    margin-top: 15px;
}
.three {
    border: 1px solid grey;
    width: 180px;
    height: 190px;
}
.three img {
    width: 170px;
    height: 95px;
    padding: 4px 4px;
}
.three p {
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: -2px;
    margin-bottom: 5px;
}
.bawahh3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bawahh3 p {
    font-size: 14px;
    margin-top: 8px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.bawahh3 button {
    width: 65px;
    height: 25px;
    border-radius: 15px;
    font-size: 13px;
    margin: 10px 1px;
    margin-top: 30px;
    margin-right: 5px;
    background-color: #9632cf;
    border: none;
}
.bawahh3 button:hover{ 
    color: white;
    background-color: #2c2ea0;
}
.four {
    border: 1px solid grey;
    width: 180px;
    height: 190px;
}
.four img {
    width: 170px;
    height: 95px;
    padding: 4px 4px;
}
.four p {
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: -2px;
    margin-bottom: 5px;
}
.bawahh4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bawahh4 p {
    font-size: 14px;
    margin-top: 8px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.bawahh4 button {
    width: 65px;
    height: 25px;
    border-radius: 15px;
    font-size: 13px;
    margin: 10px 1px;
    margin-top: 30px;
    margin-right: 5px;
    background-color: #9632cf;
    border: none;
}
.bawahh4 button:hover{ 
    color: white;
    background-color: #2c2ea0;
}
.minuman3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 15px;
    margin-top: 15px;
}
.five {
    border: 1px solid grey;
    width: 180px;
    height: 190px;
}
.five img {
    width: 170px;
    height: 95px;
    padding: 4px 4px;
}
.five p {
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: -2px;
    margin-bottom: 5px;
}
.bawahh5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bawahh5 p {
    font-size: 14px;
    margin-top: 8px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.bawahh5 button {
    width: 65px;
    height: 25px;
    border-radius: 15px;
    font-size: 13px;
    margin: 10px 1px;
    margin-top: 30px;
    margin-right: 5px;
    background-color: #9632cf;
    border: none;
}
.bawahh5 button:hover{ 
    color: white;
    background-color: #2c2ea0;
}
.six {
    border: 1px solid grey;
    width: 180px;
    height: 190px;
}
.six img {
    width: 170px;
    height: 95px;
    padding: 4px 4px;
}
.six p {
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: -2px;
    margin-bottom: 5px;
}
.bawahh6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bawahh6 p {
    font-size: 14px;
    margin-top: 8px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.bawahh6 button {
    width: 65px;
    height: 25px;
    border-radius: 15px;
    font-size: 13px;
    margin: 10px 1px;
    margin-top: 30px;
    margin-right: 5px;
    background-color: #9632cf;
    border: none;
}
.bawahh6 button:hover{ 
    color: white;
    background-color: #2c2ea0;
}
.minuman4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 15px;
    margin-top: 15px;
}
.seven {
    border: 1px solid grey;
    width: 180px;
    height: 190px;
    margin-bottom: 20px;
}
.seven img {
    width: 170px;
    height: 95px;
    padding: 4px 4px;
}
.seven p {
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: -2px;
    margin-bottom: 5px;
}
.bawahh7 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bawahh7 p {
    font-size: 14px;
    margin-top: 8px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.bawahh7 button {
    width: 65px;
    height: 25px;
    border-radius: 15px;
    font-size: 13px;
    margin: 10px 1px;
    margin-top: 30px;
    margin-right: 5px;
    background-color: #9632cf;
    border: none;
}
.bawahh7 button:hover{ 
    color: white;
    background-color: #2c2ea0;
}

.mie, .mie2,
.camilan1, .camilan2, .camilan3, .camilan4,
.minuman1, .minuman2, .minuman3, .minuman4 {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}



.mie:empty, .mie2:empty,.camilan1:empty, .camilan2:empty, .camilan3:empty, .camilan4:empty, .minuman1:empty, .minuman2:empty, .minuman3:empty, .minuman4:empty {
    display: none;
}


@media screen and (max-width: 480px) {
    .mie, .mie2, .camilan1, .camilan2, .camilan3, .camilan4, .minuman1, .minuman2, .minuman3, .minuman4 {
    flex-direction: column;
    align-items: center;
    }
}